* { box-sizing: border-box;}

body {
    font-family: Roboto, Helvetica, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-dblue {background-color: #1F2937;}

.bg-lblue, button {background-color: #3882F6;}

.grey-text {color: #E5E7EB;}

.white-text {color: #F9FAF8;}

.black-text {color: #1F2937;}

.width {width: 1040px;}

.border {border: 2px solid hotpink;}

.header-container {
    display: flex;
    justify-content: center;
}

.left {
    max-width: 460px;
}

.header {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    min-height: 0;
    padding: 20px 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 120px 0;
}

img {
    height: 230px;
    width: 530px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    gap: 18px;
    font-size: 18px;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    border: 0;
}

.title-subtext {
    font-size: 18px;
}

.header-signup {
    margin: 20px 0;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    width: 130px;
    font-size: 18px;
    font-weight: bolder;
}

.content {
    text-align: center;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    padding: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 115px;
}

.info {
    max-width: 175px;
}

.text {
    color: #4B5563;
    font-size: 18px;
    margin-top: 10px;
}

.image {
    height: 175px;
    width: 175px;
    border-radius: 20px;
    border: 4px solid #3882F6;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
    max-width: 830px;
    margin: 120px auto;
    font-weight: 100;
}

.quote .signature {
    padding-right: 40px;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.signup-container .container {
    padding: 50px 120px;
    border: 5px;
    border-radius: 10px;
    display: flex;
    flex: 0 1 1025px;
    justify-content: space-between;
    align-items: center;
}

.signup-text {
    font-size: 24px;
    font-weight: 900;
}

.signup-subtext {
    font-size: 18px;
}

.signup-button {

}

.signup {
    margin: 0;
    padding: 0;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 6px;
    width: 130px;
    font-size: 18px;
    font-weight: 900;
    flex: 0 0 auto;
}

.footer{
    text-align: center;
}

.copyright {
    padding: 40px;
    font-size: 18px;
}